@import '~bootstrap/scss/containers'
@import '../scss/utils'  

.about__title
  text-align: center
  font-family: Roboto-MediumItalic, Roboto, sans-serif

.about__text
  font-family: Roboto-Light, Roboto, sans-serif
  display: grid
  text-align: justify

.about__pict
  grid-area: g_about__pict

.about__p
  grid-area: g_about__text

@media (min-width: 600px) 
  .about
    background: url('assets/backgrounds/bg2.svg'), $basicColor0
    background-size: cover

  .about__title
    font-size: $titleFontSizeFull
    padding-top: 2rem
    padding-bottom: 2rem

  .about__text
    grid-template-columns: 30% 70%
    grid-template-rows: auto
    grid-template-areas: "g_about__pict g_about__text"
    font-size: $textFontSizeFull
    
  .about__pict
    height: auto
    max-width: 30vw

  .about__p
    align-self: center
    margin-right: 20%

@media (max-width: 600px) 
  .about
    min-height: 100vh
    background: url('assets/backgrounds/bg2s.svg'), $basicColor0
    background-size: cover

  .about__title
    font-size: $titleFontSizeMobi
    padding-top: 1.5rem

  .about__text
    grid-template-areas: "g_about__text" "g_about__pict"
    grid-template-columns: auto
    grid-template-rows: auto auto 
    justify-items: center
    padding-top: 3.4rem
    line-height: 27px
    font-size: $textFontSizeMobi

  .about__pict
    width: 100%

  .about__p
    margin-right: 14%
    margin-left: 14%
