@import '~bootstrap/scss/containers'
@import '../scss/utils'

.about
  background-color: $basicColor0

.about__title
  text-align: center
  padding: $titlePadding
  font-size: $titleFontSize

.about__text
  font-size: 1.7rem