@import '~bootstrap/scss/containers'
@import '../scss/utils'

.content-list__title
  text-align: center
  font-size: $titleFontSize
  padding: $titlePadding

.content-list__list
  margin: 0 30% 0 30%

.content-list__item
  font-size: 1.5rem