@import '~bootstrap/scss/containers'
@import '../scss/utils'

.recipients
  background-color: $basicColor2

.recipients__title
  text-align: center
  padding: 6rem
  font-size: 5rem

.recipients__list
  font-size: 1.5rem