@import '~bootstrap/scss/containers'
@import '../scss/utils'

.recipients
  background-color: $basicColor2
  padding: 1rem

.recipients__title
  text-align: center
  padding: $titlePadding
  font-size: $titleFontSize

.recipients__list
  font-size: 1.5rem