@import '~bootstrap/scss/containers'
@import '../scss/utils'

.results
  background: url('assets/backgrounds/bg4.svg'), $basicColor0
  background-size: cover

.results__title
  font-family: Roboto-MediumItalic, Roboto, sans-serif
  text-align: center
  margin: 35px 0px 35px 0px

.results__text
  font-family: Roboto-Light, Roboto, sans-serif
  border-radius: 30px
  background-color: $basicColor1
  margin-left: 10px
  margin-right: 10px
  padding: 20px

@media (min-width: 700px) 
  .results__list
    font-size: $textFontSizeFull

  .results__title
    font-size: $titleFontSizeFull

@media (max-width: 700px) 
  .results__title
    font-size: $titleFontSizeMobi
