@import '~bootstrap/scss/containers'
@import '../scss/utils'


.results__title
  text-align: center
  padding: $titlePadding
  font-size: $titleFontSize

.results__intro-text, .results__outro-text
  font-size: 1.7rem

.results__list-item
  list-style-type: none
  font-size: 1.5rem
