@import '~bootstrap/scss/containers'
@import '../scss/utils'
.title
  height: 100vh
  background-color: $basicColor1

.title__guide
  font-size: 60px

.title__name
  font-size: 72px

.title__author
  font-size: 48px
